@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

body {
  font-family: "Raleway", sans-serif;
  /*background-color: #fff;*/
}

.body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  background-color: #2125297d;
  text-align: center;
  font-size: 30px;
  line-height: 20rem;
  min-height: 100%;
  width: 100%;
  border: 10px solid var(--bs-body-color);
  border-radius: 20px;
  padding: 10px 0 10px 15px;
  margin: 5px 0;
}
.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.container2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Blinker", sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding-bottom: 15px;
}

.question {
  padding: 20px;
  font-size: 1.5rem;
  background: #41464b;
  border: 5px var(--bs-body-color ) solid;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option {
  width: 95%;
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  padding: 10px 0 10px 15px;
  border: 5px var(--bs-body-color ) solid;
  background: #41464b;
  margin: 10px 0 10px 10px;
  color: #000;
  border-radius: 20px;
}

.option:hover {
  background: #2125297d;
  color: #fff;
}

.next {
  color:rgb(255, 255, 255);
  border: none;
  outline: none;
  border: 5px var(--bs-body-color ) solid;
  background: #41464b;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
  margin-left: 10px;
}

.next:hover {
  background: #2125297d;
  color: rgb(198, 213, 236);
}

.result {
  height: 100px;
  text-align: center;
  font-size: 1.75rem;
}

.option input:checked .option {
  background: #08038c;
  color: #000;
}
