body {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    background: #394264;
  }

  p1{
    font-family: monospace;
    color: #000;
    font-size: 2.0em;
  }
  
  .boxS {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 650px;
    color: #fff;
    border-radius: 20px;
  }

  .boxS1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px; 
    margin: 10px 0;
    background: #fff;
    width: 100%;
    min-height: 150px;
    color: #fff;
  }

  .boxS2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    bottom: 0px; 
    width: 100%;
    min-height: 450px;
    color: #fff;
  }
  .boxS3 {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #fff;
    position: relative;
    width: 100%;
    min-height: 150px;
    color: #000;
  }
  .boxS31 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    width: 100%;
    min-height: 150px;
    color: #000;
  }
  
  .boxT {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 650px;
    color: #fff;
    border-radius: 20px;
  }

  .boxT1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px; 
    margin: 10px 0;
    background: #fff;
    width: 100%;
    min-height: 150px;
    color: #fff;
  }

  .boxT2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    bottom: 0px; 
    width: 100%;
    min-height: 450px;
    color: #fff;
  }
  .boxT3 {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #fff;
    position: relative;
    width: 100%;
    min-height: 150px;
    color: #000;
  }
  .boxT31 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    width: 100%;
    min-height: 150px;
    color: #000;
  }