<!DOCTYPE html>
<html>
  <head>
    <title>RECOMMENDATION</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SSSSSSSS</h1>
    <p>Welcome to <%= title %></p>

    <a onclick="myFunction('A')" class="button10">&nbsp;<button class="buton10-span">&nbsp;A</button></a>
    <a onclick="myFunction('B')" class="button10">&nbsp;<button class="buton10-span">&nbsp;B</button></a>
    <a onclick="myFunction('C')" class="button10">&nbsp;<button class="buton10-span">&nbsp;C</button></a>
    <br><br>
    <a onclick="myFunction('Sum')" class="button10">&nbsp;<button class="buton10-span">&nbsp;SUM</button></a>

    
  </body>
  
</html>
