<!DOCTYPE html>
<html lang="en">
<head>
  <title>homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/homepage/middle_card.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/homepage/stylesheet_adjust.css" rel="stylesheet" type="text/css">

<body>
</head>
<body>

  <%- include ../layer/header %>
  

  <br></br>
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-xs-12 col-sm-4">
        <div class="profile block"> <!-- PROFILE (LEFT-CONTAINER) -->
          <a class="add-button" href="/setting"><span class="icon entypo-plus scnd-font-color"></span></a>
          <div class="profile-picture big-profile-picture clear">
              <img width="150px" alt="yama" src="https://yt3.ggpht.com/ytc/AKedOLT8fF9O1UChSqbptRn1zJF1g5vEDmHdJWQHROpC6g=s900-c-k-c0x00ffffff-no-rj" >
          </div>
          <h1 class="user-name">YAMA</h1>
          <div class="profile-description">
              <p class="scnd-font-color">ずっと変わらないよと根拠なしでも言い切って</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
          <h2 class="titular">Ranking</h2>
          
          <ul class="menu-box-menu">

            <%- include ../achievement/leadertop3 %> 
<!--
              <li>
                  <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>MR.NEWSIX-601<div class="menu-box-number">1</div></a>
              </li>
              <li>
                  <a class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>MR.NEWSIX-562<div class="menu-box-number">2</div></a>
              </li>
              <li>
                  <a class="menu-box-tab" href="#10"><img src="https://drive.google.com/uc?id=1umUwPpwYAUNvUtClPa-RqtpGCDNomI59" /></span>MR.NEWSIX-157<div class="menu-box-number">3</div></a>
              </li>
              <li>
                  <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>MR.NEWSIX-156<div class="menu-box-number">4</div></a>
              </li>
              <li>
                  <a class="menu-box-tab" href="#13"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>See More</a>
              </li>
-->
          </ul>
      </div>
      </div>
      </div>
      
      <div class="col-xs-12 col-sm-4">
        <div class="profile-mid block"> <!-- PROFILE (MIDDLE-CONTAINER) -->

          <div class='middle_card'>
              <div class='middle_card_left'>
                  <img src="https://i1.sndcdn.com/artworks-z8SPYhixsokVDHkH-RuVZiw-t500x500.jpg">
              </div>
              <div class='middle_card_right'>
                
                <div class='middle_card_right__details'>
                <center>
                  <h1>Description...Description..<br>.Description...Description...</h1>
                </center>
                  <div class='middle_card_right__button'>
                    <a href='' target=''>Recently Task</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12">
          <div class="profile-mid block"> <!-- PROFILE (MIDDLE-CONTAINER) -->

            <div class='middle_card'>
                <div class='middle_card_left'>
                    <img src="https://i1.sndcdn.com/artworks-z8SPYhixsokVDHkH-RuVZiw-t500x500.jpg">
                </div>
                <div class='middle_card_right'>
                  <h1>description</h1>
                  <div class='middle_card_right__details'>
                    <div class='middle_card_right__button'>
                      <a href='/learn' >E-learning</a>
                      <!--<a href='/e-learning/e-learning.html' target='_blank'>E-learning</a> -->
                    </div>
                  </div>
                </div>
              </div>

        </div>
        </div>

        <div class="col-xs-12 col-sm-12">
          <div class="profile-mid block"> <!-- PROFILE (MIDDLE-CONTAINER) -->

            <div class='middle_card'>
                <div class='middle_card_left'>
                    <img src="https://i1.sndcdn.com/artworks-z8SPYhixsokVDHkH-RuVZiw-t500x500.jpg">
                </div>
                <div class='middle_card_right'>
                  <h1>description<br> description<br> description</h1>
                  <div class='middle_card_right__details'>
                    <div class='middle_card_right__button'>
                      <a href='' target=''>Recommendation</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="col-xs-12 col-sm-12">
           <div class="profile-mid block"> <!-- PROFILE (MIDDLE-CONTAINER) -->

                <div class='middle_card'>
                    <div class='middle_card_left'>
                        <img src="https://i1.sndcdn.com/artworks-z8SPYhixsokVDHkH-RuVZiw-t500x500.jpg">
                    </div>
                    <div class='middle_card_right'>
                      <h1>description</h1>
                      <div class='middle_card_right__details'>
                        <div class='middle_card_right__button'>
                          <a href='/project' target=''>Projects</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        </div>

      </div>
      
      <div class="col-xs-12 col-sm-4">
        <div class="join-newsletter block"> 
          <!-- Window (RIGHT-CONTAINER) -->
          <br>
          <img src="https://ichi.pro/assets/images/max/724/1*39U1Ln3tSdFqsfQy6ndxOA.png" style="width: 100%;">
          <br><br>
          <img src="https://ichi.pro/assets/images/max/724/0*ggdzLwtj2GbP0Xyj.jpeg" style="width: 100%;">          
        </div>
</body>
</html>