<link href="stylesheets/layer/header.css" rel="stylesheet" type="text/css">




<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="z-index:99;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="header-menu horizontal-list me-auto">

          <li class="profile-picture logo-profile-picture clear">
            <a href="/home"><img width="100%" alt="yama" src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Jack-o%27-Lantern_2003-10-31.jpg" ></a>
          </li>
          
          <li>
            <a class="header-menu-tab" href="/learn"><span class="icon entypo-cog scnd-font-color"></span>LEARNING</a>
        </li>
        <li>
            <a class="header-menu-tab" href="/project"><span class="icon fontawesome-user scnd-font-color"></span>CHALLENGE</a>
        </li>
        <li>
            <a class="header-menu-tab" href="/achievement"><span class="icon fontawesome-star-empty scnd-font-color"></span>RANKING</a>
        </li>
    </ul>
    <div class="profile-menu">
      <div class="dropdown">
        <button class="btn"> </i> 
          <div class = "img.icon">
              <img width="24px" src="https://i.pinimg.com/600x315/1c/4d/0a/1c4d0af7521d9141114326d92883837e.jpg" alt="Forest"> 
            </div>
          <!-- <i class="fa fa-bars"></i> -->
          <span class="entypo-down-open scnd-font-color"></span>
        </button>
        <div class="dropdown-content">
          <div class="row">
            <div class="column">
              <a target="" href="/home">
                  <img width="100px" src="https://i.pinimg.com/600x315/1c/4d/0a/1c4d0af7521d9141114326d92883837e.jpg" alt="Forest"><br> Firstname <br> Surname
              </a>
              <a href="/achievement">BADGES</a>
              <a href="/setting">SETTINGS</a>
              <a href="/">SIGN OUT</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </nav>