<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>


  

  <style>
    .avatar {
      vertical-align: middle;
      width: 33%;
      height: 33%;
      border-radius: 88%;
    }
    </style>

  <body>
    <center>
    <div class ="container" style="background-color: pink;">
      <br><br>
      <img src="https://p2.music.126.net/X-cZXMriax_IRAkKWTOozg==/109951165575050379.jpg" alt="Trulli" width="25%" height="25%" >
      <br><br>
    </div> 

    <div class ="container" style="background-color: rgb(240, 101, 124);">
      <br>
      <p><h2><%= db_cal %></h2></p>
      <br>

      <br>
    </div>

    <div class ="container" style="background-color: rgb(231, 206, 210);">
        <br>
        <form action="" method="post">
          <label for="fname">option1:</label>
          <input type="number" id="option1" name="option1" min="1" max="5"><br>
          <label for="fname">option2:</label>
          <input type="number" id="option2" name="option2" min="1" max="5"><br><br>          
          
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <br>
      </div> 
     
    </center>
  </body>
</html>