<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <style>
    .avatar {
      vertical-align: middle;
      width: 33%;
      height: 33%;
      border-radius: 88%;
    }
    </style>

  <body>
    <center>
    <div class ="container" style="background-color: pink;">
      <br><br>
      <img src="https://p2.music.126.net/X-cZXMriax_IRAkKWTOozg==/109951165575050379.jpg" alt="Trulli" width="25%" height="25%" >
      <br><br>
    </div> 

    <div class ="container" style="background-color: rgb(240, 101, 124);">
      <br>
      <p><h2><%= db_cal %></h2></p>
      <br>

      <br>
    </div>

    <div class ="container" style="background-color: rgb(231, 206, 210);">
        <br>
        <form action="" method="post">
        <!--          --->

        <label for="opt1">Choice:</label>
        <select name="opt1">
          <option value="test1">Test1</option>
          <option value="test2">Test2</option>
        </select>

        <label for="ans1"> Add:</label>
        <select name="ans1">
          <option value="5">5</option>
          <option value="30">30</option>
          <option value="500000">500000</option>
        </select>

        <label for="view"> View Test: </label>
        <input type="radio" name="view" value="test1">
        <label >1</label>
        <input type="radio"name="view" value="test2">
        <label >2</label>

      <h3> </h3>

           <!--FALSE <input type="checkbox" id="option3" name="option3" value="false">
           TRUE <input type="checkbox" id="option3" name="option3" value="true">
           
           <input type="checkbox" name ="option3" checked="checked" />
-->
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <br>
      </div> 
     
    </center>
  </body>
</html>