@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&display=swap");

:root {
  --border-color: #212529;
  --background-color: #2125297d;
  --background-secondary-color: #212529;
  --draggable-color: #eaeaea;
  --text-color: #ffffff;
  --right-color: #3ae374;
  --wrong-color: #ff3838;
}

* {
  box-sizing: border-box;
}

.body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
  font-family: "Blinker", sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
}

.box {
  background-color: #2125297d;
  text-align: center;
  font-size: 30px;
  line-height: 20rem;
  min-height: 100%;
  width: 90%;
  border: 10px solid var(--bs-body-color);
  border-radius: 20px;
  padding: 10px 0 10px 15px;
  margin: 5px 0;
}

.draggable-list {
  background-color: #2125297d;
  
  border: 5px solid var(--border-color);
  border-radius: 20px;
  color: rgb(14, 11, 11);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
 /* background-color: var(--background-color);*/
  
  border-radius: 20px;
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--background-secondary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  width: 3.75rem;
  height: 3.75rem;
}

.draggable-list li.over .draggable {
  background-color: var(--draggable-color);
}

.draggable-list .person-name {
  margin: 0 5.25rem 0 0;
}

.draggable-list li.right .person-name {
  color: var(--right-color);
}

.draggable-list li.wrong .person-name {
  color: var(--wrong-color);
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex: 1;
}

.check-btn {
  background-color: var(--background-color);
  border: 5px solid var(--bs-body-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  width: 25%;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.check-btn:focus {
  outline: none;
}
