.body {
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px 0;
  margin-right: 510%;
  padding: 10px;
  width: 100%;
  min-height: 200px;
}

.editorContainer{
  width: 97%;
  border: 5px solid rgb(107, 138, 107);
  box-shadow: 0 0 8px 3px rgb(48, 47, 47);
  border-radius: 5px;
  margin: 20px 0;
}

.detail{
  background-color: rgb(197, 196, 196);
  text-align: center;
  font-size: 30px;
  line-height: 20rem;
  min-height: 700px;
  width: 90%;
  border: 5px solid rgb(107, 138, 107);
  border-radius: 20px;
  padding: 10px 0 10px 15px;
  margin: 5px 0;
}

.button2 {
  background-color: #027faa;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  width: 32%;
  height: 10rem;
  line-height: 10rem;
  padding: 0 2rem;
  text-transform: uppercase;
  outline: none;
}

.button2.button--primary {
  background-color: #17aa17;
}
.button2.button--warn {
  background-color: #b61b1b;
}
.button2:hover,
.button2.button--primary:hover,
.button2.button-warn:hover {
  background-color: #f60;
}
.button2focus,
.button2.button--primary:focus,
.button2.button--warn:focus {
  background-color: #f60;
}
.button2:active,
.button2.button--primary:active,
.button2.button--warn:active {
  background-color: #dd5800;
}

.button2.button__outline {
  background-color: transparent;
  color: #027faa;
  border: 1px solid #027faa;
}
.button2.button__outline.button.button__outline--primary {
  border-color: #17aa17;
  color: #17aa17;
}
.button2.button__outline.button.button__outline--warn {
  border-color: #b61b1b;
  color: #b61b1b;
}
.button2.button__outline:hover,
.button2.button__outline.button.button__outline--primary:hover,
.button2.button__outline.button.button__outline--warn:hover {
  background-color: #f60;
  border-color: #f60;
  color: #fff;
}
.button2.button__outline:focus,
.button2.button__outline.button.button__outline--primary:focus,
.button2.button__outline.button.button__outline--warn:focus {
  background-color: #f60;
  border-color: #f60;
  color: #fff;
}
.button2.button__outline:active,
.button2.button__outline.button.button__outline--primary:active,
.button2.button__outline.button.button__outline--warn:active {
  background-color: #dd5800;
  border-color: #dd5800;
  color: #fff;
}

.result{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  height: 170px;
  width: 500px;
  line-height: 1rem;
  border: 5px solid rgb(107, 138, 107);
  border-radius: 20px;
  box-shadow: 0 0 8px 3px rgb(48, 47, 47);
  padding: 50px;
}

.run{
  background-color: #300101;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  width: 50%;
  line-height: 10rem;
  padding: 0 2rem;
  text-transform: uppercase;
  outline: none;
}