.box-1 {
  border: double 10px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
	width: 50%;
}

.responsive {
  width: 100%;
  height: auto;
}