<link href="stylesheets/achievement/style.css" rel="stylesheet" type="text/css">
<!-- Leaderboard -->



        <ul class="leader">

          <li>
            <span class="list_num">1</span>
            <img src="https://drive.google.com/uc?id=1J77TbzwELnfdUJLuM_wXHFreGL7XCpAA" />
            <h2>First<span class="number">9,735</span></h2>
          </li>
          <li>
            <span class="list_num">2</span>
            <img src="https://drive.google.com/uc?id=1rYPcxpTk82JOKl0cx-Ead4odlg1T3W3B" />
            <h2>Ae<span class="number">8,364</span< /h2>
          </li>
          <li>
            <span class="list_num">3</span>
            <img src="https://drive.google.com/uc?id=1umUwPpwYAUNvUtClPa-RqtpGCDNomI59" />
            <h2>New<span class="number">7,621</span< /h2>
          </li>
          <li>
            <a class="menu-box-tab" href="/achievement"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>See More</a>
        </li>
        </ul>

        

      

    
     <!-- Leaderboard -->