<!-- Leaderboard -->
<div class="col-xs-12 col-sm-4">
    <center><h3>Leaderboard</h3></center>
    <div class="table">
      <div class="table-cell">
        <ul class="leader">
          <div id="decoration"></div>
          <div id="decoration2"></div>
          <div id="decoration3"></div>
          <li>
            <span class="list_num">1</span>
            <img src="https://drive.google.com/uc?id=1J77TbzwELnfdUJLuM_wXHFreGL7XCpAA" />
            <h2>First<span class="number">9,735</span></h2>
          </li>
          <li>
            <span class="list_num">2</span>
            <img src="https://drive.google.com/uc?id=1rYPcxpTk82JOKl0cx-Ead4odlg1T3W3B" />
            <h2>Ae<span class="number">8,364</span< /h2>
          </li>
          <li>
            <span class="list_num">3</span>
            <img src="https://drive.google.com/uc?id=1umUwPpwYAUNvUtClPa-RqtpGCDNomI59" />
            <h2>New<span class="number">7,621</span< /h2>
          </li>
          <li>
            <span class="list_num">4</span>
            <img src="https://drive.google.com/uc?id=1fytu3lFbZOiNsqoAgZ7i5y1K2UJDz5jW" />
            <h2>King<span class="number">4,582</span< /h2>
          </li>
          <li>
            <span class="list_num">5</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>Mew<span class="number">2,651</span< /h2>
          </li>
          <li>
            <span class="list_num">6</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>A<span class="number">2,321</span< /h2>
          </li>
          <li>
            <span class="list_num">7</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>B<span class="number">1,989</span< /h2>
          </li>
          <li>
            <span class="list_num">8</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>C<span class="number">1,763</span< /h2>
          </li>
          <li>
            <span class="list_num">9</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>D<span class="number">1,425</span< /h2>
          </li>
          <li>
            <span class="list_num">10</span>
            <img src="https://drive.google.com/uc?id=1vuKaR55gOGNYollN0DJR8o5JCLg8N7yd" />
            <h2>E<span class="number">1,127</span< /h2>
          </li>
        </ul>
        </div>
      </div>
     <!-- Leaderboard -->

     
    </div>
  </div>