    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <!--------HEADER-------->
    <div class="m-4">
        <ul class="nav navbar-light" style="background-color: #436648">
            <center> <li class="nav-item">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">
                    <img src="https://static.boredpanda.com/blog/wp-content/uploads/2020/06/Artist-shows-alternative-versions-of-famous-logos-in-different-styles-5ed4ac823b564__880.jpg"  alt="logo" style="width:55px;" >
                </a>
            </li>
            </center>
            <li class="nav-item ">
                <a href="#" class="nav-link">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                    <a href="#" class="dropdown-item">Sent Items</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Trash</a>
                </div>
            </li>
            <li class="nav-item dropdown ms-auto">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="avatar avatar-128 bg-light rounded-circle text-white p-2"
                    src="https://www.biography.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTYzMTU4NDgzNTgyMDY4MzYx/john-lennon-poses-for-a-photo-circa-1973-in-new-york-city-new-york-photo-by-vinnie-zuffante_michael-ochs-archives_getty-images.jpg" style="width: 40px;">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="navbar-brand" href="#">
                        <img src="https://www.biography.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTYzMTU4NDgzNTgyMDY4MzYx/john-lennon-poses-for-a-photo-circa-1973-in-new-york-city-new-york-photo-by-vinnie-zuffante_michael-ochs-archives_getty-images.jpg" alt="logo" style="width:40px;">MRS. YAMA
                    </a>
                    <a href="#" class="dropdown-item">Reports</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
        <center><hr></center>
    </div> 
    <!--------End of HEADER-------->
