<!DOCTYPE html>
<html>
  <head>
    <title>INDEX <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include header %>

    <div class ="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>NEWSIX NITIGON</h2>
  </div>

 <center> <a href="/db_web"> Database to Website </a></p> </center>
 <center> <a href="/web_db"> Website to Database</a></p> </center>

  </body>
</html>
