<!DOCTYPE html>
<html>
  <head>
    <title>Web to DB <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include header %>

    <div class ="container">

      <h1>Title : <%= title %></h1>
      <br>

      <form action="/web_db" method="post">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" value=""><br><br> 
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">Address:</label>
        <textarea id="addr" name="addr" class="form-control" style="resize:both"></textarea><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
  
      </form>


    <center><a href="/"> HOME </a></p></center>
    <center> <a href="/db_web"> Database to Website </a></p> </center>

  </body>
</html>
