<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>account settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="stylesheets/setting/setting.css" rel="stylesheet" type="text/css">

</head>

<body>
    
    <%- include ../layer/header %>

    <section class="navigation">
        <div class="nav-container">
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">

                    <div class="card overflow-hidden">
                        <div class="row no-gutters row-bordered row-border-light">
                            <div class="col-md-3 pt-0">
                                <div class="list-group list-group-flush account-settings-links">

                                    <img src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.6435-9/250160621_208977291368060_2800316578696162731_n.jpg?_nc_cat=1&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHmIzt8th_NGQ0F0AXC1kkQQZk9jzkTBJdBmT2PORMElyVgi05Lq0sEjo7ScNvrbKGmxN_R2ExyLWG9RqwuqX3I&_nc_ohc=lh1Omf-ois0AX9eimkq&_nc_ht=scontent.fbkk12-4.fna&oh=8920f1451c5b407f941f794af30de3b4&oe=61A38F74">
                                    <center><a>รูปเป็นวงกลม</a></center><br><br>
                                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
                                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="account-general">

                                        <div class="card-body media align-items-center">
                                            <img src="S__9445379.jpg" alt="" class="d-block ui-w-80">
                                            <div class="media-body ml-4">
                                                <label class="btn btn-outline-primary">
                                                    Upload new photo
                                                    <input type="file" class="account-settings-fileinput">
                                                </label> &nbsp;
                                                <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                                                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                            </div>
                                        </div>
                                        <hr class="border-light m-0">

                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="form-label">Username</label>
                                                <input type="text" class="form-control mb-1" value="nmaxwell">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Name</label>
                                                <input type="text" class="form-control" value="Nelle Maxwell">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Company</label>
                                                <input type="text" class="form-control" value="Company Ltd.">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="account-info">
                                        <div class="card-body pb-2">

                                            <div class="form-group">
                                                <label class="form-label">Bio</label>
                                                <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Birthday</label>
                                                <input type="text" class="form-control" value="May 3, 1995">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Country</label>
                                                <select class="custom-select">
                                                    <option>USA</option>
                                                    <option selected="">Canada</option>
                                                    <option>UK</option>
                                                    <option>Germany</option>
                                                    <option>France</option>
                                                </select>
                                            </div>


                                        </div>
                                        <hr class="border-light m-0">
                                        <div class="card-body pb-2">

                                            <h6 class="mb-4">Contacts</h6>
                                            <div class="form-group">
                                                <label class="form-label">Phone</label>
                                                <input type="text" class="form-control" value="+0 (123) 456 7891">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Website</label>
                                                <input type="text" class="form-control" value="">
                                            </div>

                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="account-social-links">
                                        <div class="card-body pb-2">

                                            <div class="form-group">
                                                <label class="form-label">Twitter</label>
                                                <input type="text" class="form-control" value="https://twitter.com/user">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Facebook</label>
                                                <input type="text" class="form-control" value="https://www.facebook.com/user">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Google+</label>
                                                <input type="text" class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">LinkedIn</label>
                                                <input type="text" class="form-control" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Instagram</label>
                                                <input type="text" class="form-control" value="https://www.instagram.com/user">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="text-right mt-3">
                                        <button onclick="window.location.href='/home'" type="button" class="btn btn-primary">Save changes</button>&nbsp;
                                        <button onclick="window.location.href='/home'" type="button" class="btn btn-default">Cancel</button>
                                    </div>
                        </div>
                        <script type="text/javascript">
                        </script>
</body>

</html>