<!DOCTYPE html>
<html lang="en">

<head>
  <title>homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/project/Project.css" rel="stylesheet" type="text/css">

  <script src="javascripts/project/project1.js"></script>
  <script src="javascripts/project/project2.js"></script>
  <script src="javascripts/project/project3.js"></script>
  <script src="javascripts/project/project4.js"></script>
  <script src="javascripts/project/project5.js"></script>
  <script src="javascripts/project/project6.js"></script>
  <script src="javascripts/project/project7.js"></script>
  <script src="javascripts/project/project8.js"></script>
  <script src="javascripts/project/project9.js"></script>
  <script src="javascripts/project/project10.js"></script>
</head>

<body>

  <%- include ../layer/header %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">

          <div class="sidebar">
            <BR><center><h4>TEST CENTER</h4></center>
            <a onclick="myFunction()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              1<button class="buton10-span">&nbsp;Recommend</button></a>
            <a onclick="myFunction2()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              2<button class="buton10-span">&nbsp;Recommend</button></a>
            <a onclick="myFunction3()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              3</a>
            <a onclick="myFunction4()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              4<button class="buton10-span">&nbsp;Recommend</button></a>
            <a onclick="myFunction5()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              5</a>
            <a onclick="myFunction6()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              6<button class="buton10-span">&nbsp;Recommend</button></a>
            <a onclick="myFunction7()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              7</a>
            <a onclick="myFunction8()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              8<button class="buton10-span">&nbsp;Recommend</button></a>
            <a onclick="myFunction9()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              9</a>
            <a onclick="myFunction10()" class="button10"><img src="https://i.ibb.co/6ZH9kK3/star.png" />&nbsp; Project
              10</a>
          </div>

        </div>


        <div class="col-xs-12 col-sm-8">
          <div class="box10">
            <p>class="col-xs-12 col-sm-8"</p>
                <div class="size">
                  <div class="mes-date">
                    <p id="demo"><h></h></p>
                    <br><br>
                  </div>
                  <div class="from">
                  </div>
                  <div class="message-from">
                    <p id="demo1"></p>
                    <p id="demo2"></p>
                    <p id="demo3"></p>
                    <p id="demo4"></p>
                    <p id="demo5"></p>            
                
                    <div class='topnav-right' id="project-click" >
                  </div>
                </div>
                </div>
          </div>
        </div>
    </div>
          </div>
        </div>

      </div>
    </div>

</body>

</html>