@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
  }
  :root,
  button {
    font-family: 'Raleway', serif;
  }
  * {
    box-sizing: border-box;
  }
  .color {
    background: linear-gradient(to right, #e1e0ff, #d7fadd);
  }
  body {
    background: #191919;
    background: #fff;
    /*-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;*/
    letter-spacing: 3px;
    color: #b9b9b9;
  }

  .try-again {
    cursor: pointer;
    position: relative;
    font-size: 20px;
  }
  .gohome {
    cursor: pointer;
    position: relative;
    font-size: 12px;
  }
  /*.try-again:after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 10px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
  }*/
   .try-again:hover:after {
    left: 40%;
    right: 40%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: #1f253d;
    outline: none;
    /*border: none;*/
    text-transform: uppercase;
    letter-spacing: 3px;
    /*border-radius: 50px;*/
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 20px;
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 white, 0 0 0 white;
  }
  .button-text {
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button-circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    transition: all 0.5s ease;
  }
  .button-circle2 {
    top: auto;
    bottom: 0;
  }
  .button-circle3 {
    left: auto;
    right: 0;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  }
  .button-circle4 {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  }
  .button:hover {
    box-shadow: -15px 0 70px -15px #504bff, 15px 0 70px -15px #4cfa63;
  }
  .button:hover .button-circle1 {
    transform: translate(-15px, -15px) scale(0);
  }
  .button:hover .button-circle2 {
    transform: translate(-15px, 15px) scale(0);
  }
  .button:hover .button-circle3 {
    transform: translate(15px, -15px) scale(0);
  }
  .button:hover .button-circle4 {
    transform: translate(15px, 15px) scale(0);
  }
  .button:hover .button-circle {
    box-shadow: none;
  }
  .popup {
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

  }
  .popup-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition: box-shadow 0.5s ease 0.7s, border-radius 0.35s ease 0.7s;
  }
  .backgrounds {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .background {
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #504bff, #4cfa63);
    transform: scale(0);
    transition: all 0.5s ease 0s;
    border-radius: 50%;
  }
  .background2 {
    --offset: 10%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #6665ff, #69fa7f);
    transform: scale(0);
    transition: all 0.5s ease 0.1s;
  }
  .background3 {
    --offset: 20%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #8583ff, #85fa99);
    z-index: 2;
    transition: all 0.5s ease 0.2s;
  }
  .background4 {
    --offset: 30%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #aaaaff, #a7fab7);
    z-index: 3;
    transition: all 0.5s ease 0.3s;
  }
  .background5 {
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #c9c8ff, #c3fad1);
    z-index: 4;
    transition: all 0.5s ease 0.4s;
  }
  .background6 {
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: white;
    z-index: 5;
    transition: all 0.8s ease 0.4s;
  }
  .content {
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    z-index: 10;
  }
  .content-wrapper {
    text-align: center;
  }
  body.active .content {
    opacity: 1;
    transform: none;
  }
  body.active .popup {
    opacity: 1;
    visibility: visible;
  }
  body.active .popup-inside {
    border-radius: 0;
    box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #4cfa63;
  }
  body.active .background {
    transform: scale(1);
  }
  body.active .background6 {
    transform: scale(8);
  }

  /*DONUT CHART*/
  .donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
   }
  p.center-date {
    background: #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top:0;left:0;bottom:0;right:0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    /*line-height: 37.5px;*/
    padding: 15% 0 0;
  }
  .center-date span.scnd-font-color {
   line-height: 0;
  }
  .recorte {
      border-radius: 50%;
      clip: rect(0px, 200px, 200px, 100px);
      height: 100%;
      position: absolute;
      width: 100%;
    }
  .quesito {
      border-radius: 50%;
      clip: rect(0px, 100px, 200px, 0px);
      height: 100%;
      position: absolute;
      width: 100%;
      font-family: monospace;
      font-size: 1.5rem;
    }
  #porcion1 {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

  #porcion1 .quesito {
      background-color: #E64C65;
      -webkit-transform: rotate(76deg);
      transform: rotate(76deg);
    }
  #porcion2 {
      -webkit-transform: rotate(76deg);
      transform: rotate(76deg);
    }
  #porcion2 .quesito {
      background-color: #11A8AB;
      -webkit-transform: rotate(140deg);
      transform: rotate(140deg);
    }
  #porcion3 {
      -webkit-transform: rotate(215deg);
      transform: rotate(215deg);
    }
  #porcion3 .quesito {
      background-color: #4FC4F6;
      -webkit-transform: rotate(113deg);
      transform: rotate(113deg);
    }
  #porcionFin {
      -webkit-transform: rotate(-32deg);
      transform:rotate(-32deg);
    }
  #porcionFin .quesito {
      background-color: #FCB150;
      -webkit-transform: rotate(32deg);
      transform: rotate(32deg);
    }
    .os-percentages {
      padding-top: 36px;
    }
    .os-percentages li {
      width: 75px;
      border-left: 1px solid #394264;
      text-align: center;					
      background: #50597b;
    }
      .os {
        margin: 0;
        padding: 10px 0 5px;
        font-size: 15px;		
      }
        .os.ios {
          border-top: 4px solid #e64c65;
        }
        .os.mac {
          border-top: 4px solid #11a8ab;
        }
        .os.linux {
          border-top: 4px solid #fcb150;
        }
        .os.win {
          border-top: 4px solid #4fc4f6;
        }
      .os-percentage {
        margin: 0;
        padding: 0 0 15px 10px;
        font-size: 25px;
      }
  .line-chart-block {
    height: 400px;
  }
    .line-chart {
      height: 200px;
      background: #11a8ab;
    }