.mdl-grid {
	max-width: 600px;
}
.mdl-card__media {
	margin: 0;
	border: 20px solid #c7eafd;
  border-image: -webkit-linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image: -moz-linear-gradient(to left #7ee8fa 0%, #eec0c6 100%);
	border-image: -o-linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image: linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image-slice: 1;
}
.mdl-card__media > img {
	max-width: 100%;
}
.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
	margin-right: 3px;
	margin-left: 3px;
}

